*{
    margin: 0;
    padding: 0;
    font-family: 'Indie Flower', cursive;
}
.row {
    max-width: 1140px;
    margin: 0 auto;
  }
/* =============================================== */
/* Home */
/* =============================================== */
#home{
    color: black;
    height: 60vh;
}
#homediv {
    text-align: center;
    margin-top: 17%;
    font-size: 200%;
}
#homediv h1 {
    font-size: 275%;
}
#beginbutton{
    border: 2px solid black;
    width: 100px;
    margin: 2% auto;
    transition: transform 0.4s ease;
}
#beginbutton:hover{
    transform: scale(1.25);
    cursor: pointer;
}
/* =============================================== */
/* Write */
/* =============================================== */
#write{
    color: black;
    height: 60vh;
}
#writediv {
    text-align: center;
    margin-top: 10%;
    font-size: 200%;
}
#notepad{
    margin-top: 2%;
    text-align: center;
}
#last{
    border: 2px solid black;
    width: 100px;
    text-align:center;
    margin: auto;
    transition: transform 0.4s ease;
}
#last:hover{
    transform: scale(1.25);
    cursor: pointer;
}